.horario-mapa{
   
    display: flex;
    justify-content: center;
    margin: 50px;
    color: rgb(240, 240, 175);
    th{
        color: rgb(212, 218, 132);
        padding-top:10px ;
        padding-bottom: 10px;
        }
        
    
}

.historia {
    text-align: center;
    font-size: x-large;
    font-family: initial;
    line-height: 150%;
    p {
        color: rgb(240, 240, 176);
    }
   
}



.espacio1 {
    padding-right: 15px;
    padding-left: 30px;
}

.espacio2 {
    padding-right: 30px;
    padding-left: 15px;
    }




